.app-container{
    background-color: rgb(255,255,255,0.25);
    backdrop-filter:blur(8px);
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;
    margin-left: 25vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(49, 33, 138, 0.15);
    padding: 20px 30px;
}
input[type='text']{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 0px 15px 0px 0px;
}
.button{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(135, 171, 250);
    margin: 0px 5px;
}
.geolocate span{
    transform: translateY(2px);
}